## Q1.	Write a Python program to take two numbers as input from the user and display their sum.

In [ ]:
num1=int(input("Enter First Number = "))
num2=int(input("Enter Second Number = "))
sum=num1+num2
print("Addition of two numbers is =",sum)
print("Addition of",num1,"and",num2," is =",sum)

Enter First Number = 25
Enter Second Number = 30
Addition of two numbers is = 55
Addition of 25 and 30  is = 55

##Q2.	Calculate and print the midpoint of two numbers entered by the user.

In [ ]:
num1=int(input("Enter First Number = "))
num2=int(input("Enter Second Number = "))
midpoint=(num1+num2)/2
print("Midpoint of two numbers is =",midpoint)
print("Midpoint of",num1,"and",num2," is =",midpoint)

Enter First Number = 20
Enter Second Number = 30
Midpoint of two numbers is = 25.0
Midpoint of 20 and 30  is = 25.0

##Q3.	Write a Python program to calculate the area of a triangle using the formula: area = 0.5 * base * height.

In [ ]:
num1=int(input("Enter The measurement of the base of the triangle = "))
num2=int(input("Enter The measurement of the height of the triangle = "))
area=0.5*num1*num2
print("Area of the triangle is =",area)

Enter The measurement of the base of the triangle = 10
Enter The measurement of the height of the triangle = 7
Area of the triangle is = 35.0

##Q4.	Take three numbers as input from the user and display their product.

In [ ]:
num1=int(input("Enter First Number = "))
num2=int(input("Enter Second Number = "))
num3=int(input("Enter Third Number = "))
product=num1*num2*num3
print("The Product of three number is =",product)

Enter First Number = 2
Enter Second Number = 3
Enter Third Number = 4
The Product of three number is = 24

##Q5.	Take a number as input and display its square and cube.

In [ ]:
num1=int(input("Enter a Number = "))
square=num1 * num1
cube=num1 * num1 * num1
print("The Square of the number is =",square)
print("The Cube of the number is =",cube)

Enter a Number = 5
The Square of the number is = 25
The Cube of the number is = 125

##Q6.	Take two numbers as input and display their quotient and remainder.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
quotient = num1 // num2
remainder = num1 % num2
print("Quotient is:", quotient)
print("Remainder is:", remainder)

Enter the first number: 5
Enter the second number: 4
Quotient is: 1
Remainder is: 1

##Q7.	Take three numbers as input and display their average.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
average = (num1 + num2 + num3) / 3
print("The average of the three numbers is:", average)

Enter the first number: 2
Enter the second number: 3
Enter the third number: 4
The average of the three numbers is: 3.0

##Q8.	Write a Python program to calculate the area of a rectangle using the formula: area = length * width.

In [ ]:

length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
area = length * width
print("The area of the rectangle is:", area)

Enter the length of the rectangle: 5
Enter the width of the rectangle: 8
The area of the rectangle is: 40.0

##Q9.	Take five numbers as input representing marks obtained and total marks.
Display the percentage.

In [ ]:
english = float(input("Enter marks obtained in English : "))
math = float(input("Enter marks obtained in Math : "))
science = float(input("Enter marks obtained in Science: "))
sst = float(input("Enter marks obtained in Social Studies: "))
hindi = float(input("Enter marks obtained in Hindi: "))
total_marks = english + math + science + sst + hindi
average_percentage = (total_marks / 500) * 100
print("The average percentage is:", average_percentage)

Enter marks obtained in English : 40
Enter marks obtained in Math : 50
Enter marks obtained in Science: 70
Enter marks obtained in Social Studies: 66
Enter marks obtained in Hindi: 50.8
The average percentage is: 55.36

#Q.10 print helloworld

In [1]:
print("helloworld")

helloworld

#Q.11 describe local variable and global variable code

In [8]:
# Global variable
x = 10

def my_function():
    # Local variable
    y = 5
    print("Local variable y:", y)
    print("Global variable x inside function:", x)

# Calling the function
my_function()

print("Global variable x outside function:", x)

Local variable y: 5
Global variable x inside function: 10
Global variable x outside function: 10

#Q.12 Write a code that describe Indentation error

In [5]:
# Example of IndentationError
x = 10
if x > 5:
print("x is greater than 5")
    print("This line is indented incorrectly")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-5-3fb961061481>, line 4)

#Q.13 write a code that describe local and global variable with same name

In [9]:
# Global variable
x = 50

def my_function():
    # Local variable with the same name
    x = 10
    print("Local variable x inside function:", x)  # Refers to the local variable

# Calling the function
my_function()

print("Global variable x outside function:", x)  # Refers to the global variable

Local variable x inside function: 10
Global variable x outside function: 50

#Q.14 Write a code for string, int and float input.

In [7]:
user_string = input("Enter a string: ")
user_int = int(input("Enter an integer: "))
user_float = float(input("Enter a float: "))

print("String entered by user :", user_string)
print("Integer entered by user :", user_int)
print("Float entered by user :", user_float)

Enter a string: Sejal Thakur
Enter an integer: 22
Enter a float: 345.765
String entered by user : Sejal Thakur
Integer entered by user : 22
Float entered by user : 345.765